* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	&.overflow--hidden {
		overflow: hidden;
	}
}

body {
	overflow-x: hidden;
}

main {
	height: 100%;
	.home & {
		padding: 0;
	}
	@include respond-to('small') {
    	padding: 90px 0 0;
	}
}