h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff--secondary; 
	font-weight: 700;
	margin-bottom: $spacing-unit--half;
}
 
h1 {
	font-size: $h1;
	@include respond-to('small') {
		font-size: $h1 / 1.5;
	}
}

h2 {
	font-size: $h2;
	@include respond-to('small') {
		font-size: $h2 / 1.5;
	}
}

h3 {
	font-size: $h3;
	@include respond-to('small') {
		font-size: $h3 / 1.5;
	}
}

h4 {
	font-size: $h4;
	@include respond-to('small') {
		font-size: $h4 / 1.5;
	}
}

p, address {
	font-family: $ff--primary;
	font-weight: 400;
	font-size: 12px;
	line-height: normal;
	margin-bottom: $spacing-unit--half;
}

a {
	font-family: $ff--primary; 
	font-weight: 400;
	color: $color--secondary;
	text-decoration: none;
}

ul, ol {
	font-family: $ff--primary;
}