$spacing-unit: 20px;
$spacing-unit--double: $spacing-unit * 2;
$spacing-unit--triple: $spacing-unit * 3;
$spacing-unit--half: $spacing-unit / 2;
$spacing-unit--quarter: $spacing-unit--half / 2;

$w1024: 1024px;


$spacings: (
    double		: $spacing-unit--double,
    triple 		: $spacing-unit--triple,
    half 		: $spacing-unit--half,
    quarter 	: $spacing-unit--quarter
);

@each $spacing, $unit in $spacings {
    .spacing-unit--#{$spacing} { margin-bottom: $unit;}
}